---
import Layout from "../layouts/LayoutBlog.astro";

// Obtener todos los posts
const allPosts = await Astro.glob("../posts/*.md");

// Ordenar los posts por fecha, del más reciente al más antiguo
const sortedPosts = allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.date).valueOf() -
        new Date(a.frontmatter.date).valueOf(),
);
---

<Layout 
title="inicio"
description="Servicios de desarrollo web y redacción persuasiva que impulsan tu negocio en Tijuana."
keywords="redaccion de textos web, copywriter, creacion de sitios webs"
>
    <main class="max-w-7xl mx-auto px-4 py-8">
      
            <h1 class="text-3xl font-bold mb-8 text-gray-500">Todos los Posts</h1>
            <ul class="space-y-8">
                {
                    sortedPosts.map((post) => (
                        <li class=" p-6 rounded-lg shadow-md">
                            <article>
                                <h2 class=" text-4xl font-semibold mb-2">
                                    <a
                                        href={`/blog/${post.file.split("/").pop().split(".").shift()}`}
                                        class="text-green-700 hover:underline"
                                    >
                                        {post.frontmatter.title}
                                    </a>
                                </h2>
                                <p class="text-gray-500 mb-4">
                                    {post.frontmatter.description}
                                </p>
                                <div class="flex justify-between items-center text-sm text-gray-500">
                                    
                                    <a
                                        href={`/blog/${post.file.split("/").pop().split(".").shift()}`}
                                        class="text-green-700 text-2xl hover:underline"
                                    >
                                        Leer más →
                                    </a>
                                </div>
                            </article>
                        </li>
                    ))
                }
            </ul>
        
    </main>
</Layout>
