---
import HeroNormal from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import Formulario from "../components/secciones/Contacto.astro"
---
<Layout
  title="Servicios"
  description="Servicios de diseno y desarrollo web en Tijuana, México"
  keywords="paginas web, diseño web tijuana, diseño web mexico, sitios web para negocios"
>

<HeroNormal texto1="Contacto" texto2="" />

 <!--Solicita auditoria-->
 <main class="contactoht contenedor">
  <h2>Contáctame</h2>
 <br>
 <br>
<p>Si quieres que trabajemos juntos, si tienes algún proyecto entre manos o simplemente quieres hacerme alguna pregunta,</p>
<p>puedes hacerlo rellenando el formulario o enviarme un correo a hola@weblocalmx.com
</p>
<br><br>
   <!-- incia formulario jotfrom -->
    <Formulario/>
   <!-- termina formulario jotfrom -->
</main>

</Layout>