---

import Layout from "../layouts/Layout.astro";
import HeroeInicio from "../components/HeroeInicio.astro";





---


<Layout 
title="Mi título" 
description="Esta es una descripción" 
keywords="palabras, clave, ejemplo" >
<HeroeInicio />
<h1>SOY INDEX</h1>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>
<p>Lorem, ipsum dolor sit aptatibus eligendi ut. Debitis mi neque.</p>

</Layout>

