---
import Layout from "../layouts/Layout.astro";


---

<Layout
    title="inicio"
    description="Pagina de reservacion."
    keywords="reservacion de videollamada"
>

<div class="tidycal-embed" data-path="espanolunoauno/weblocalmx-consulta-inicial-gratuita-20-min"></div><script src="https://asset-tidycal.b-cdn.net/js/embed.js" async></script>



</Layout>