<section  class="contenedor ">
    <div  class="acerca">
        <div class="acerca-contenido">
            <div class="acerca-texto">
               <p>Weblocal surge como respuesta al vacío digital que aqueja a los negocios locales. Nuestra labor combina investigación y creatividad para comunicar con precisión la esencia y valor de tus productos y servicios.
            </p>
                <p> <strong>Fundador</strong> de Weblocal <br>
                    <a href="https://www.linkedin.com/in/marcojaram/"> Marco jaramillo</a>
                </p>
            </div>
            <img src="/img/manos480.webp" alt="acerca-weblocal">
        </div>
    </div>
  </section>
  <style>
    /*Acerca de*/


    .acerca h2 {
    color: var(--color-primario);
}

.boton-acercade {
    color: var(--color-claro1);
    display: block;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}
@media (min-width: 768px){
    .acerca {
        padding: 50px 0px;
    }
    .acerca-contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        margin: 30px 0px;
        padding: 0px;
    }
    .acerca-texto h2 {
        margin-top: 0px;
    }
    .boton-acercade {
        display: inline-block;
    }
  
}
  </style>