

<section class="mt-s contenedor-contacto">
    <div class="contacto-grid contenedor">
        <div id="contacto" class="contacto-texto">
            <p>También puedes envíarme un <a href="https://wa.me/6643111577" target="_blank"> <span>WhatsApp</span> </a></p>
            
            <script type="text/javascript" src="https://form.jotform.com/jsform/210778580535866"></script>        </div>
    </div>
</section>

<style>
    span{
        color: var(--color-primario);
        font-weight: 500;
    }
</style>