<section class="contenedor-contacto">
    <div class="contacto-grid contenedor">
        <div class="imagen-contacto">
            <img
                src="https://images.unsplash.com/photo-1528329140527-75853b1e1650?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="imagen de contacto"
            />
        </div>

        <div class="fomrulario-contacto">
            <div class="contacto-parrafos">
                <p>
                    Enviarme <a href="mailto:marco.jaramillocast@gmail.com"
                    target="_blank"> un correo<i class="fa fa-envelope-o" aria-hidden="true"
                        ></i>
                    </a>
                </p>
                <p>
                    o un <a href="https://wa.me/6643111577" target="_blank"
                        >WhatsApp<i class="fa fa-whatsapp" aria-hidden="true"
                        ></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    img {
        width: 100%;
    }
  
    
    .contacto-parrafos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px 0px;
        color: gray;
    }

    .contacto-parrafos p {
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
        color: gray;
    }
    .contacto-parrafos p a {
        color: gray;
    }

    .fa {
        color: rgb(66, 179, 141);
        font-size: 3rem;
        margin-left: 10px;
    }

    @media (min-width: 768px) {
        .contacto-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            -moz-column-gap: 2rem;
            column-gap: 2rem;
        }
        .fomrulario-contacto {
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        .fomrulario-contacto p {
            text-align: center;
            font-size: 2.5rem;
        }
        .contacto-parrafos {
            padding: 0px;
        }
    }
</style>
