<section class="contenedor contenedor-como-haces">
    <div class="mt-s como-haces">
        <h3>Lo que proyectas con tu sitio web</h3>
        <div class="como-haces-grid">
            <img
                src="/img/macetaylap.webp"
                alt="foto de celular en la mesa "
            />
            <p>
                ¿Has intentado crear tu propia presencia digital? ¿Fue como trazar un sendero en un bosque sin mapas o pintar un cuadro sin pinceles? Cada detalle en tu presencia en línea refleja tu habilidad y compromiso. Recuerda: "Como haces una cosa, haces todas las cosas".

            </p>
        </div>
    </div>
    <div class="semuybien mt-s">
        <h3>
            Sé muy bien <span>por qué</span> los negocios pequeños no están en
            internet...
        </h3>
        <ul>
            <li>No tienen el tiempo necesario para dedicarse a ello</li>
            <li>Carecen del presupuesto suficiente</li>
            <li>
                Faltan los conocimientos necesarios para construir y
                mantener su propia presencia web.
            </li>
        </ul>
    </div>
</section>
<style>
    /*Lo que proyectas*/

    .como-haces h3 {
        color: var(--color-primario);
        padding-bottom: 10px;
        text-align: center;
    }
    /*Se muy bien*/

    .semuybien h3 {
        color: var(--color-primario);
    }

    .semuybien li {
        color: var(--color-oscuro1);
        font-family: var(--tipo-secundario);
    }

    .semuybien h3 span {
        color: #c45d5d;
    }

    /*FIN de Se muy bien*/
    @media (min-width: 768px) {
        .contenedor-como-haces {
            margin-top: 50px;
        }
        .como-haces-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            -moz-column-gap: 2rem;
            column-gap: 2rem;
        }
        .semuybien {
            margin-top: 80px;
        }


    }

    /*FIN Lo que proyectas*/
</style>