<section class="mt-s contenedor contenedor-confianza">
    <div class="confianza">
        <h3>Sin confianza, no hay venta</h3>
        <p>
            Cuando confiamos en un producto o servicio, es porque esperamos
            que cumpla nuestras expectativas. Un mensaje confuso genera
            dudas. Recuerda, la confianza es clave para cerrar ventas.
        </p>
        <h4 class="titulo-confianza">
            ¿Cómo asegurar que tu sitio web inspire confianza?
        </h4>
        <ul class="lista-confianza">
            <li>
                Utiliza textos que clarifiquen la propuesta de valor de tu
                producto o servicio.
            </li>
            <li>
                Sé transparente sobre lo que ofreces y cómo beneficiará a
                tus clientes.
            </li>
            <li>
                Destaca testimonios o casos de éxito que respalden la
                calidad y eficacia de tu oferta.
            </li>
        </ul>
        <p>
            La propuesta de valor no consiste en una verborrea que exagere
            las cualidades de un producto o servicio.
        </p>
        <p id="definicion-propuesta">
            <strong>Def.</strong> Una <strong>propuesta de valor</strong> es
            <strong>un mensaje </strong>
            escrito de manera clara y breve que <strong
                >transmite el beneficio principal</strong
            > de tu producto o servicio. El beneficio que aporta a tus clientes
            <strong>resolviendo un problema</strong>.
        </p>
        <p>
            Así consigues que tu cliente ideal tenga claro cómo te
            diferencias de la competencia
        </p>
    </div>

</section>

<style>
    /*Si no hay confianza*/

    .contenedor-confianza {
        background-color: var(--color-claro2);
    }

    .confianza {
        padding: 20px 20px;
        color: var(--color-primario);
    }

    .titulo-confianza {
        color: var(--color-oscuro2);
        font-family: var(--tipo-secundario);
        padding-top: 20px;
    }

    .lista-confianza li {
        font-family: var(--tipo-secundario);
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.03rem;
        line-height: 2.5rem;
        color: var(--color-oscuro1);
    }

    #definicion-propuesta {
        padding-top: 20px;
    }

    /*FIN de Si no hay confianza*/

    @media (min-width: 768px){

        
    }

</style>