<section class="mt-s">
    <div class="contenedor contenedor-copy">
        <h2 class="copyweb-titulo">
            ¿<span>Textos efectivos</span> en tu web?
        </h2>
        <div class="copyweb">
            <img src="/img/maquina-verde1-min.webp" alt="" />
            <p id="copy-txt">
                Por más espectacular que sea tu sitio web, si carece de
                textos meticulosamente elaborados, difícilmente transmitirá
                tu mensaje y persuadirá a tu cliente ideal. Es un error
                garrafal redactar los contenidos mientras se monta la web en
                el servidor. <strong>El mensaje </strong>de tu servicio o
                producto es crucial y <strong>
                    no debe ser dejado al azar</strong
                >. La investigación y el análisis deben preceder a todo lo
                demás. Es seleccionar las palabras con precisión, guiando al
                lector hacia la acción deseada. Es el <strong
                    >arte de crear textos comerciales poderosos
                </strong>y <span>efectivos</span> .
            </p>
        </div>
    </div>
</section>

<style>
     /*Copy en  tu web?*/

     .copyweb-titulo {
        text-align: center;
        padding-bottom: 10px;
    }

    .servicios-titulo {
        color: var(--color-oscuro1);
    }

    .copyweb-titulo span {
        color: rgba(173, 32, 32, 0.726);
    }
    .copyweb span {
        color: rgba(173, 32, 32, 0.726);
    }
    /*FIN de Copy en  tu web?*/
    @media (min-width: 768px){
/*Copy en tu web?*/
.copyweb {
            display: grid;
            grid-template-columns: repeat(2, 20% 80%);
            -moz-column-gap: 2rem;
            column-gap: 2rem;
        }
        .contenedor-copy {
            margin-top: 80px;
            margin-bottom: 80px;
        }

    }
</style>