<section class="contenedor ">
    <div id="acercade" class="acerca">
        <div class="acerca-contenido">
            <div class="acerca-texto">
                <h2>Acerca de Weblocal</h2>
                <p>Weblocal surge como respuesta al vacío digital que aqueja a los negocios locales. Nace de la urgencia de comunicar con precisión la esencia y valor de sus productos y servicios. Lo que realizamos es una labor de investigación y una pizca de inspiración. A través de un análisis, garantizamos que los visitantes de tu sitio web retengan de manera nítida tu mensaje y propuesta.</p>
                <p> <strong>Fundador</strong> de Weblocal <br>
                    <a href="https://www.linkedin.com/in/marcojaram/"> Marco jaramillo</a>
                </p>
            </div>
            <img src="/img/manos480.webp" alt="acerca-weblocal">
        </div>
    </div>
  </section>
  <style>
    /*Acerca de*/


    .acerca h2 {
    color: var(--color-primario);
}

.boton-acercade {
    color: var(--color-claro1);
    display: block;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}
@media (min-width: 768px){
    .acerca {
        padding: 50px 0px;
    }
    .acerca-contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        margin: 30px 0px;
        padding: 0px;
    }
    .acerca-texto h2 {
        margin-top: 0px;
    }
    .boton-acercade {
        display: inline-block;
    }
  
}
  </style>