<section class="contenedor ">
    <div id="acercade" class="acerca">
        <div class="acerca-contenido">
            <div class="acerca-texto">
                <h2>Acerca de Weblocal</h2>
                <p><strong> Weblocal </strong> entiende todo de manera global bajo el modelo de negocio y se centra en la propuesta de valor del servicio o producto. De esta manera los resultados siempre son buenos.
  
                </p>
                <p>
                    Es fundamental para weblocal tener <strong>bases solidas</strong> entorno a <strong>tipografía</strong> , <strong>teoría de color</strong> , y <strong>copywriting</strong> .
  
                </p>
                <p>
                    Lo <strong>primero es la propuesta de valor</strong> y el contenido. Luego, con ello, se arma todo.
  
                </p>
                <p>
                    <strong> Las tecnologías</strong> que se usan son html, css, javascript y php. Y si el cliente lo prefiere desarrollamos su sitio en wordpress, el cms más potente .
  
                </p>
                <p>La forma de trabajar es implementando estrategias, mediante cuestionarios, para cada aspecto de la web. Y así de una manera práctica y clara avanzó hasta conseguir el objetivo. La secuencia es: investiga, analiza y construye.
                </p>
                <p> <strong>Fundador</strong> de Weblocal <br>
                    <a href="https://marco-jaram.com"> Marco jaramillo</a>
                </p>
            </div>
            <img src="/img/manos480.png" alt="acerca-weblocal">
        </div>
    </div>
  </section>
  <style>
    /*Acerca de*/


    .acerca h2 {
    color: var(--color-primario);
}

.boton-acercade {
    color: var(--color-claro1);
    display: block;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}
@media (min-width: 768px){
    .acerca {
        padding: 50px 0px;
    }
    .acerca-contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        margin: 30px 0px;
        padding: 0px;
    }
    .acerca-texto h2 {
        margin-top: 0px;
    }
    .boton-acercade {
        display: inline-block;
    }
  
}
  </style>