<div id="botonArriba"> <i class="boton-arriba fas fa-arrow-circle-up"></i></div>
<footer class="footer ">
    <div class="contenedor-footer contenedor">
        <div class="contenido-footer">
            <div>Weblocalmx Tijuana B. C.| 2024 | 
            </div>



            <div class="redes">
                <a href="https://www.instagram.com/m_jaram/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/marco_jaram"><i class="fab fa-twitter"></i></a>
                <a class="mail" href="mailto:marc.jaramillocast@gmail.com" aria-label="Enviar correo a Marc Jaramillo">
                    &#9993; correo
                </a>
                
            </div>
        </div>
    </div>
</footer>
<style is:global>
    .footer {
    background-color: var(--color-oscuro2);
}

.contenido-footer {
    padding: 20px 5px;
    font-size: 16px;
    color: var(--color-claro1);
}

.contenido-footer div {
    margin: 10px;
}

.redes a i {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.redes a i:hover {
    color: var(--color-primario);
}

.pagina-exito {
    height: 100vh;
}

#correo {
    text-decoration: none;
    color: white;
}
.mail{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
@media (min-width: 768px) {
    .contenido-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
</style>