---
interface Props {
    texto1: string;
    texto2: string;
    
}

const { texto1, texto2 } = Astro.props;
---


<div class="hero">
    

    <div class="titulos contenedor">
        <div class="titulo-principal">
          <h1>
            {texto1}
            <br>
            {texto2}
          </h1>
        </div>
      </div>
</div>
<style>
    .hero {
        background-image: url(/img/header-weblocal-cuadro-lapiz-sm.jpg);
      
       
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
    }
    .titulo-principal{
       margin-top: 70px;
    }
    @media (min-width: 768px) {
        .hero {
            background-image: url(/img/header-weblocal-lapiz-bg.webp);
            background-position-x: 0px;
            
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            height: 30vh;
        }
    
        .hero {
            padding-bottom: 350px;
            padding-top: 50px;
        }
        .titulo-principal h1 span {
            font-size: 2.5rem;
        }
        .titulo-principal{
       padding-top: 0px;
    }
    }
</style>