<header class="header">
    <nav>
        <div>
            <div class="barra-navegacion contenedor">
                <a class="logo " href="/"><img class="logo-icon" src="/img/Logo_WEbLoc.webp" alt="Logo de weblocalmx ">
                    <span class="logo-txt">Weblocalmx</span>
                </a>

                <!--menu para desktop-->
                <div class="menu-desktop">
                    <a href="/">Inicio</a>
                    <a href="#acercade">Acerca</a>
                    <a href="#servicios">Servicios</a>
                    <a href="#recursos">Recursos</a>
                    <a href="#portafolio">Portafolio</a>
                    <a href="/blogindex">Blog</a>
                    <a href="#contacto">Contacto</a>
                    

                </div>
                <span class="ham" id="ham">&#9776;</span>

            </div>
            <!--menu oculto para movil-->
            <div class="menu-movil" id="menu_wrapper">
                <div class="menu lista-navegacion">
                    <ul>
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="#acercade">Acerca</a>
                        </li>
                        <li>
                            <a href="#servicios">Servicios</a>
                        </li>
                        <li><a href="#recursos">Recursos</a></li>
                        <li>
                            <a href="#portafolio">Portafolio</a>
                        </li>
                        <li>
                            <a href="/blogindex">Blog</a>
                        </li>
                        <li>
                            <a href="#contacto">Contacto</a>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </div>
    </nav>

   

</header>
<script src="../scripts/menu.js"></script>
<style is:global>
    /*Barra de navegacion*/

.menu-desktop {
    display: none;
}

.ham {
    font-size: 2.5rem;
    color: var(--color-primario);
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 5px;
    align-items: center;
}

/*listanavegacion*/

.lista-navegacion {
    background-color: rgba(64, 134, 85, 0.959);
    width: 100%;
    position: absolute;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    height: 0px;
    opacity: 0;
    transition: all 0.3s;
}

.crece .menu {
    height: 100vh;
    opacity: 1;
}

.lista-navegacion li {
    list-style: none;
    text-align: center;
    padding: 20px;
}

.lista-navegacion li a {
    text-decoration: none;
    color: white;
}

.lista-navegacion ul {
    padding-left: 0px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    width: 40px;
}

.logo-txt {
    color: var(--color-primario);
    font-size: 1.5rem;
}

.boton-hamburguesa {
    border: none;
    padding: 10px;
    font-size: 2rem;
    background-color: transparent;
    color: var(--color-primario);
}
@media (min-width: 768px) {
    .ham{
        display: none;
    }
    .menu-desktop {
    display: block;
}
}
@media (min-width: 768px) {
    .contenedor {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
    }
    h1 {
        font-size: 3.8rem;
    }
    h2 {
        font-size: 3.4rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.6rem;
    }
    .barra-navegacion {
        align-items: center;
    }
    .lista-navegacion {
        display: none;
    }
    .menu-desktop {
        display: inline-flex;
    }
    .logo-icon {
        width: 50px;
    }
    .logo-txt {
        font-size: 2rem;
    }
    .menu-desktop a {
        color: var(--color-oscuro2);
        text-decoration: none;
        margin: 10px;
        font-size: 1.6rem;
    }
    .menu-desktop a:hover {
        color: var(--color-primario);
    }
    .ham {
        display: none;
    }
   
}
</style>