<section class="mt-s">
    <div id="portafolio" class=" portafolio contenedor">
        <h2 class="titulo-portafolio">Trabajos realizados</h2>
        <div class="portafolio-grid">
            <div class="portafolio__card">
                <h3 class="portafolio__titulos">Desarrollador web</h3>
                <img src="/img/img-portafolio-desarrollador-4.png" alt="">
                <p>Sitio personal de desarrollador web tipo portafolio</p>
                <a class="portafolio-ver-sitio" href="https://marco-jaram.com/" target="blank">Ver sitio</a>
            </div>
            <div class="portafolio__card">
                <h3 class="portafolio__titulos">La vida es medicina</h3>
                <img src="/img/img-portafolio-nancy-4.png" alt="">
                <p>Sitio que ofrece servicio de danza terapia</p>
                <a class="portafolio-ver-sitio" href="https://lavidaesmedicina.com" target="blank">Ver demo</a>
            </div>
            <div class="portafolio__card">
                <h3 class="portafolio__titulos">AFF</h3>
                <img src="/img/img-portafolio-aff-web-4.png" alt="">
                <p>Trabajo para la Asociacion filosofica de la frontera</p>
                <a class="portafolio-ver-sitio" href="https://aff-ac.org/" target="blank">Ver sitio</a>
            </div>
            <div class="portafolio__card">
                <h3 class="portafolio__titulos">Pizza TJ</h3>
                <img src="/img/img-portafolio-pizzatj-3.png" alt="">
                <p>Sitio para pizzería con menu visual de productos</p>
                <a class="portafolio-ver-sitio" href="https://pizzatj-proyecto-tailwind.netlify.app/" target="blank">Ver demo</a>
            </div>
  
  
  
        </div>
  
    </div>
  </section>