<div class="contenido-propuesta contenedor">
    <div class="contenido-apps">
        <div class="cards">
            <a href="/apps-weblocal/landing-propuesta-de-valor.html">
                <div class="card card1">
                    <div class="container">
                        <img
                            src="/img/card-propuesta.webp"
                            alt="propuesta de valor"
                        />
                    </div>
                    <div class="details">
                        <h3>Propuesta de valor</h3>
                        <p>¡Escribe una propuesta de valor chingona!</p>
                        <p>
                            Aplicación gratuita para obtener la propuesta de
                            valor de tu producto o servicio.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/apps-weblocal/landing-canvas.html">
                <div class="card card2">
                    <div class="container">
                        <img
                            src="/img/card-canvas.webp"
                            alt="Plan de negocios canvas"
                        />
                    </div>
                    <div class="details">
                        <br />
                        <h3>Plan de negocios</h3>
                        <p>¡Arma tu plan de negocios fácil!</p><br /><br />
                        <p>
                            Aplicacion gratuita para elaborar plan de
                            negocios canvas
                        </p>
                        <p>
                            Solo contestas unas preguntas clave y la
                            aplicación te genera un diseño de la propuesta
                            de valor con tres variaciones
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
    .sobre-apps {
    background-color: #11b28e;
    padding: 30px;
    font-size: 1.3em;
    margin-top: 50px;
}

.titulo-apps {
    padding: 30px;
    color: white;
    text-align: center;
}

.card {
    margin-top: 50px;
    background-color: var(--color-primario);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(68, 85, 65, 0.281);
    transition: all 400ms ease;
}

.card:hover {
    transform: translateY(-3%);
}

.cards a {
    text-decoration: none;
}

.container {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
    opacity: 0.5;
}

.card1>.container:after {
    background-color: var(--color-claro1);
}

.card2>.container:after {
    background-color: var(--color-claro1);
}

.details {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   
}

.details>h3 {
    color: var(--color-claro1);
}

.details>p {
    color: var(--color-claro1);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.card {
    margin-top: 50px;
    background-color: var(--color-primario);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(68, 85, 65, 0.281);
    transition: all 400ms ease;
}

.card:hover {
    transform: translateY(-3%);
}

.cards a {
    text-decoration: none;
}

.container {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
    opacity: 0.5;
}

.card1>.container:after {
    background-color: var(--color-claro1);
}

.card2>.container:after {
    background-color: var(--color-claro1);
}

.details {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   
}

.details>h3 {
    color: var(--color-claro1);
}

.details>p {
    color: var(--color-claro1);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
</style>