<div id="servicios" class="contenedor">
<h1>Servicios</h1>
    <h2>Problemas que tiene solución</h2>
    <section class="mt-s tecomprendo">

        <div class="tecomprendo-grid">
            <img src="/img/solucion.jpg" alt="">
            <div>
                <p> <strong>Te comprendo</strong> muy bien. Manejar un negocio por muy pequeño que sea es duro.</p>
                <p><i class="fas fa-times"></i>Tu producto o servicio es bueno y no sabes por qué no logras vender.</p>
                <p><i class="fas fa-times"></i>No sabes cuales son las palabras adecuadas para hacer llegar el mensaje. </p>
                <p><i class="fas fa-times"></i>Ya te diste cuenta que las personas que visitan tu sitio se quedan con una idea equivocada.</p>
                <p><strong>Así es, no estás sol@</strong> . Mi trabajo consiste en resolver esos problemas. </p>
            </div>
        </div>
    </section>



    <main class="caracteristicas-servicios">
        <div class="servicio-titloh2">
            <h2>Diseño y desarrollo web</h2>
            <p>Con estructura enfocada al usuario. Código limpio, solo con lo necesario. Sitios optimizados para google.</p>
        </div>

        <div class="servicos-card-grid1">
            <div class="servicios-card">
                <div class="servicios-card-incono">
                    <i class="fas fa-concierge-bell"></i>

                    <h4></i>Sitios de servicios</h4>
                </div>
                <p>Tus servicios al alcence las 24/7. Cobra por tus servicios desde la web.El mensaje exacto y las características completas.</p>
                <details>
                    <summary>
                        Características
                    </summary>
                    <ul>
                        <li><i class="fas fa-check"></i>Diseño personalizado</li>
                        <li><i class="fas fa-check"></i>Página de inicio</li>
                        <li><i class="fas fa-check"></i>Acerca de</li>
                        <li><i class="fas fa-check"></i>Servicios</li>
                        <li><i class="fas fa-check"></i>Contacto</li>
                        <li><i class="fas fa-check"></i>Botones de redes sociales (instagram, facebook, twitter, youtube y whatsapp)</li>
                        <li><i class="fas fa-check"></i>Formulario de contacto</li>
                        <li><i class="fas fa-check"></i>Adaptable a celulares, tablets y escritorio</li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-check"></i>SEO tecnico:
                            <ul>
                                <li>Meta descripciones</li>
                                <li>Palabras clave </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-check"></i>Configuraciones:
                            <ul>
                                <li>Configuración de correo electrónico de dominio</li>
                                <li>Montaje de sitio web a hosting</li>
                            </ul>
                        </li>
                    </ul>

            </div>

            </details>

            <div class="servicios-card">
                <div class="servicios-card-incono">
                    <div class="servicios-card-incono"> <i class="fas fa-shopping-cart"></i></div>

                    <h4>Tienda en línea</h4>
                </div>
                <p>Vende tu producto ya se venta directa o tipo catálogo. Haz cobros desde tu web. Aumenta cierre de venta. </p>
                <details>

                    <summary>
                        Características
                    </summary>
                    <ul>
                        <li><i class="fas fa-check"></i>Diseño personalizado</li>
                        <li><i class="fas fa-check"></i>Página de productos</li>
                        <li><i class="fas fa-check"></i>Acerca de</li>
                        <li><i class="fas fa-check"></i>Contacto</li>
                        <li><i class="fas fa-check"></i>Botones de redes sociales (instagram, facebook, twitter, youtube y whatsapp)</li>
                        <li><i class="fas fa-check"></i>Formulario de contacto</li>
                        <li><i class="fas fa-check"></i>Adaptable a celulares, tablets y escritorio</li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-check"></i>SEO técnico:
                            <ul>
                                <li>Meta descripciones</li>
                                <li>Palabras clave </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-check"></i>Configuraciones:
                            <ul>
                                <li>Configuración de correo electrónico de dominio</li>
                                <li>Montaje de sitio web a hosting</li>
                            </ul>
                        </li>
                    </ul>
            </div>

            </details>

            <div class="servicios-card">
                <div class="servicios-card-incono">
                    <div class="servicios-card-incono"><i class="fas fa-laptop-code"></i></div>

                    <h4>Landingpage</h4>
                </div>
                <p>Regala algo a cambio de suscripcion. Vende resaltando los beneficios. Incrementa prospectos.</p>
                <details>
                    <summary>
                        Características
                    </summary>
                    <ul>
                        <li><i class="fas fa-check"></i>Lead magnet. Regala algo valioso a cambio de que se suscriban</li>
                        <li><i class="fas fa-check"></i>Formulario de suscripción</li>
                        <li><i class="fas fa-check"></i>Estructura según la fórmula PAS</li>
                        <li><i class="fas fa-check"></i>Desde anuncio envia a página para realizar la venta</li>
                        <li><i class="fas fa-check"></i>Transacción de venta con stripe o paypal</li>
                        <li><i class="fas fa-check"></i>Estructura según la fórmula PAS</li>
                    </ul>
            </div>
            </details>

        </div>

        <div class="servicos-card-grid2">

            <div class="servicios-card">
                <div class="servicios-titulo2 card2">
                    <h2><i class="fas fa-pencil-ruler"></i>Copywriting</h2>
                </div>
                <p class="p2">Engancha con las palabras más potentes para la página de inicio, sobre mí, servicios y contacto. ¿Cómo se logra? Con investigación, análisis y un poco de imaginación.</p>

                <details>
                    <summary>
                        Características
                    </summary>
                    <ul>
                        <li><i class="fas fa-check"></i>Texto personalizado segun propuesta de valor</li>
                        <li><i class="fas fa-check"></i>Investigación y análisis</li>
                        <li><i class="fas fa-check"></i>Página de inicio</li>
                        <li><i class="fas fa-check"></i>Página de contacto</li>
                        <li><i class="fas fa-check"></i>Página sobre mí</li>
                        <li><i class="fas fa-check"></i>Utilización de fórmula PAS</li>
                        <li><i class="fas fa-check"></i>Utilización de fórmula AIDA </li>

                    </ul>

                </details>
            </div>
            <div class="servicios-card card2">
                <div class="servicios-titulo2">
                    <h2><i class="fas fa-database"></i>Gestión de suscriptores</h2>
                </div>
                <p class="p2">Vende con estrategia creando primero una relacion via mail. Maneja correos automáticos. Envía ofertas especiales.
                </p>
                <details>
                    <summary>
                        Características
                    </summary>
                    <ul>
                        <li><i class="fas fa-check"></i>Administración de correos</li>
                        <li><i class="fas fa-check"></i>Correos automatizados</li>
                        <li><i class="fas fa-check"></i>Configuración de dominio con terceros para envío de correos masivo</li>
                        <li><i class="fas fa-check"></i>SPF, DKIM y DMARC (configuraciones necesarias para que los correos no se conviertan en spam)</li>
                        <li><i class="fas fa-check"></i>Podrás autogestionar hasta 3,000 suscriptores gratis y enviar hasta 10 mil correos al mes gratis</li>
                        <li><i class="fas fa-check"></i>Creación de Formulario de contacto</li>
                        <li><i class="fas fa-check"></i>Creación de Formulario de suscripción </li>
                        <li><i class="fas fa-check"></i>Correo automatizado de Bienvenida</li>
                        <li><i class="fas fa-check"></i>Serie de correos automatizado a partir de nuevos suscriptores</li>
                        <li><i class="fas fa-check"></i>Notificaciones de mensajes a contacto</li>
                        <li><i class="fas fa-check"></i>Configuración de correo gmail con alias para mandar correos con el nombre de tu dominio desde la cuenta gratuita de gmail.</li>
                    </ul>
                </details>
            </div>
        </div>






    </main>
</div>


<style>
    /* PAGINA DE SERVICIOS */

    #serviciosht h1 {
        text-align: center;
        color: #11b28e;
    }

    #correo:hover {
        color: #11b28e;
    }

    .tecomprendo img {
        box-shadow: 2px 2px 5px #999;
    }

    .tecomprendo h2 {
        font-size: 2.5rem;
        margin: 2rem;
        color: #11b28e;
    }
    .tecomprendo-grid div {
        margin-top: 30px;
    }
    .tecomprendo-grid div p i {
        font-size: 2rem;
        color: red;
        margin: 10px;
    }

    .tecomprendo-grid div p strong {
        color: rgba(24, 24, 23, 0.794);
    }

    .caracteristicas-servicios h2 {
        color: rgba(24, 24, 23, 0.794);
    }

    .caracteristicas-servicios ul {
        padding-left: 10px;
    }

    .caracteristicas-servicios ul li {
        list-style: none;
        padding: 5px;
    }

    .caracteristicas-servicios ul li i {
        font-size: 2rem;
        padding: 5px;
        color: #11b28e;
    }
    .caracteristicas-servicios p {
        line-height: 30px;
    }
    .caracteristicas-servicios p i {
        font-size: 2rem;
        padding: 5px;
        color: #11b28e;
    }
    .caracteristicas-servicios h4 {
        padding: 10px;
    }
    @media (min-width: 764px) {
        .tecomprendo-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 3rem;
        }
    }
    .servicios-card {
        margin-top: 50px;
    }

    details[open] summary ~ * {
        animation: desplegar 0.5s ease;
    }

    @keyframes desplegar {
        0% {
            opacity: 0;
            margin-left: -10px;
        }
        100% {
            opacity: 1;
            margin-left: 0px;
        }
    }

    .servicios-card p {
        font-size: 1.8rem;
    }
    .servicios-card details ul li {
        font-size: 1.6rem;
    }
    .servicios-card-incono {
        text-align: center;
    }
    .servicios-card-incono i {
        font-size: 50px;
        color: var(--color-primario);
        padding: 20px;
    }
    .servicio-titloh2 {
        text-align: center;
        background-color: var(--color-primario);
        padding: 20px;
        margin-top: 50px;
    }
    .servicio-titloh2 h2 {
        color: white;
    }
    .servicio-titloh2 p {
        color: white;
    }
    .servicios-titulo2 {
        text-align: center;
        background-color: var(--color-primario);
        padding: 20px;
    }
    .servicios-titulo2 h2 {
        color: white;
    }
    .servicios-titulo2 h2 i {
        margin-right: 10px;
    }

    @media (min-width: 768px) {
        .tecomprendo-grid div {
            margin-top: 0px;
        }
        .contenedor-servicios {
            margin-top: 80px;
            margin-bottom: 90px;
        }
        .servicios {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            -moz-column-gap: 2rem;
            column-gap: 2rem;
        }
        .boton-servicios {
            display: inline-block;
            margin: 20px;
        }
        .servicos-card-grid1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            -moz-column-gap: 2rem;
            column-gap: 2rem;
        }

        .servicos-card-grid2 .card2 {
            margin-top: 100px;
        }
        .servicios-card .p2 {
            padding-top: 50px;
        }
        .servicio-titloh2 {
            border-radius: 50px;
        }
        .servicios-titulo2 {
            border-radius: 50px;
        }
    }
    /* FIN DE PAGINA DE SERVICIOS */
</style>
