---
import GoogleAnalytics from "../components/analytics-scripts/GoogleAnalytics.astro";
import PixelFaceBook from "../components/analytics-scripts/PixelFaceBook.astro";
import TManager from "../components/analytics-scripts/TManager.astro";
import TManagerBody from "../components/analytics-scripts/TManagerBody.astro";
import Awesome from "../components/Awesome.astro";

// Layout.astro - Layout limpio para landing pages
interface Props {
    title: string;
    description?: string;
    keywords?: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

        <!-- Meta tags para SEO -->
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords} />
        <GoogleAnalytics />
        <PixelFaceBook />
        <TManager />
        <!-- Slot para meta tags adicionales -->
        <slot name="meta" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
        />
      <Awesome />
        
     
       
    </head>
    <body>
        <TManagerBody />
        <!-- Contenido principal -->
        <slot />

        
    </body>
</html>

